[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "cmake-conan"]
	path = cmake-conan
	url = https://github.com/tnt-coders/cmake-conan.git
[submodule "cmake-config"]
	path = cmake-config
	url = https://github.com/tnt-coders/cmake-config.git
[submodule "project-config"]
	path = project-config
	url = https://github.com/tnt-coders/project-config.git
