name: Clang-Tidy

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  clang-tidy:
    uses: tnt-coders/ci-workflows/.github/workflows/cpp-cmake-conan-clang-tidy.yml@master
